@media (max-width: 1500px) {
    .img-block {
        background-position: 60%;
    }
}

@media (max-width: 900px) {
    .order {
        &__item {
            &::after {
                display: none;
            }
        }
    }
}

@media (max-width: 1110px) {
    .footer {
        &__contacts {
            flex-direction: column;
            gap: 12px;
        }
    }
}

@media (max-width: 770px) {
    .breadcrumps-block {
        display: none;
    }
    .burger {
        display: block;
    }

    .order {
        &__wrap {
            grid-template-columns: repeat(3, 1fr);
            gap: 15px;
        }
    }

    .footer {
        padding: 15px 0;
        &__container {
            flex-direction: column;
            gap: 20px;
        }
        &__rules {
            order: 3;
        }
        &__contacts {
            flex-direction: row;
        }
    }
}

@media (max-width: 650px) {
    .img-block {
        &__title {
            font-size: 32px;
        }
    }

    .order {
        &__wrap {
            grid-template-columns: 1fr 1fr;
            gap: 15px;
        }
    }

    .form {
        grid-template-columns: 1fr 1fr;
        .select {
            grid-column: 1 / 3;
        }
    }
}

@media (max-width: 450px) {
    .hiro {
        background-position: 65%;
        &__title {
            font-size: 23px;
        }
        &__list-title {
            font-size: 17px;
        }
        &__list-item {
            font-size: 16px;
        }
        &__cto {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
    }

    .order {
        &__title {
            font-size: 23px;
        }
        &__subtitle {
            font-size: 16px;
        }
    }

    .form {
        grid-template-columns: 1fr;
        input[type=email], input[type=text] {
            grid-column: 1 / 3;
        }
        &__range-wrap {
            font-size: 16px;
        }
        .select {
            grid-column: 1 / 3;
        }
        &__wrap {
            grid-column: 1 / 3;
        }
        .file {
            grid-column: 1 / 3;
        }
        &__btn {
            grid-column: 1 / 3;
        }
    }

    .footer {
        &__pay {
            padding: 0 10px;
            gap: 10px;
        }
        &__contacts {
            gap: 20px;
        }
    }
}